VITE_FIREBASE_API_KEY=AIzaSyBqoE1ltkh-9waR34UBPmNpCW057F74lgY
VITE_FIREBASE_AUTH_DOMAIN=school-management-system-43332.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=school-management-system-43332
VITE_FIREBASE_STORAGE_BUCKET=school-management-system-43332.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=915647723276
VITE_FIREBASE_APP_ID=1:915647723276:web:e46746af836f4a3741bb29
